* {
  box-sizing: border-box;
  /* border: 5px solid black; */
}
a:hover {
  color: white;
}
a {
  text-decoration: none;
  font-size: xx-large;
}
body {
  display: flex;
  flex-wrap: wrap;
}
header {
  width: 100%;
  flex-wrap: nowrap;
  text-align: center;
  height: 100px;
  background-color: #28c8a0;
  text-decoration: ;
}
header.h1 {
}
nav {
  width: 100%;
  text-align: center;
  flex-wrap: nowrap;
  background-color: #1464ff;
  padding: ;
}
nav h1 {
  display: inline;
  padding: 25px;
  text-decoration: none;
  text-decoration: white;
}
main {
  width: 100%;
  flex-direction: column;
  display: flex;

  /* background-image: url(https://th.bing.com/th/id/OIP.riE_7cdrMbLEX1bDDyTN-QE8DF?rs=1&pid=ImgDetMain); */
}

.main-mi-descricion {
  text-align: justify;
  padding: 30px;
}
.contenedor-foto {
  display: flex;
  flex-direction: row;
  height: max-content;
}

.foto {
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
}
.foto figcaption {
}
.decoracion-foto {
  background-color: gray;

  width: 900px;
  height: 300px;
  justify-content: center;
}
.descripcion {
  display: inline;
  width: auto;
}
.pasatiempo {
  text-align: center;
}
.receta {
  justify-content: center;
}
aside {
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
footer {
  width: 100%;
  background-color: #1464ff;
  height: 100px;
  justify-content: center;
}
iframe {
  padding: 15px;
}

.mapa {
  width: 100%;
  display: flex;
  flex-direction: row;
}
