.{
    box-sizing: border-box;

}
main{
  
    flex-wrap: wrap;

}

header{
    background-image: url(C:\Users\romer\OneDrive\Documentos\github\www\assests\backgroung.jpg);
    background-color: #cccccc; 
  height: 100px; 
  width: 100%;
  background-position: center; 
  background-size: cover;
  text-align: center;
}
nav{
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: red;
}
div{
    padding: 10px;
    display: flex;
  flex-wrap: nowrap;
} 