*{
  box-sizing: border-box;
  

}


body{
  display: flex;
  flex-wrap: wrap;
  
  
}
header{
width: 100%;
  flex-wrap:nowrap;
  text-align: center;
}
nav{
  width: 100%;
  text-align: center;
  flex-wrap: nowrap;

 
}
nav h1{
  display: inline;
  padding: 15px;

}
main {
  width: 65%;
}
.contenedor-foto{
display: inline;
width:auto; 
}
.foto{
  width: 250px;;
  display: inline;
}
.foto figcaption{
  width: 200px;
  display: inline;
}
.descripcion{
  display: inline;
width: 2000px;
}

footer{
  width: 100%;
  background-color: aquamarine;
}